{% extends 'base_login.html' %}

{% block title %}修改密码{% endblock title %}

{% block body %}
    <section class="signin signup">
    <div class="container">

        <div class="sign-content">
            <h2>修改密码</h2>

            <div class="row">
                <div class="col-sm-12">
                    <div class="signin-form">
                        <form action="{% url 'user:alterpass' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label  for="oldpassword">旧密码</label>
                                <input type="password" class="form-control" id="oldpassword" name="oldpass" placeholder="旧密码">
                            </div>
                            <div class="form-group">
                                <label for="newpassword">新密码</label>
                                <input type="password" class="form-control" id="newpassword" name="newpass"  placeholder="新密码">
                            </div>
                            <div class="form-group">
                                <label for="newpassword2">确认密码</label>
                                <input type="password" class="form-control" id="con_newpassword" name="con_newpass"  placeholder="确认密码">
                            </div>
                            <div class="signin-footer">
                                <input type="submit" class="btn signin_btn btn-block" value="修改密码">
                                <p>{{ errmsg }}</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}