{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}修改商品信息{% endblock title %}

{% block topfiles %}
    <script src="{% static 'js/distpicker.min.js' %}"></script>
    <script src="{% static 'js/ckeditor/ckeditor-init.js' %}"></script>
    <script src="{% static 'js/ckeditor/ckeditor/ckeditor.js' %}"></script>

{% endblock topfiles %}

{% block body %}
    <!--名称框-->
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 name-top">
        <div>
            <h2>修改商品信息</h2>
        </div>
    </div>
    <!--修改信息表单-->
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <form method="post" action="{% url 'goods:alter' %}" id="issue">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ data.id }}">
            <div class="form-group good_form">
                <label for="title">商品标题</label>
                <input type="text" class="form-control" name='title' id="title" placeholder="商品标题" value="{{ data.title }}">
            </div>
            <div class="form-group good_form">
                <label for="add">发布地点</label>
                <div id="target" class="row">
                    <div class="col-md-4 col-sm-4"><select class="form-control" data-province="{{ province }}"
                                                           name="province"></select></div>
                    <div class="col-md-4 col-sm-4"><select class="form-control" data-city="{{ city }}"
                                                           name="city"></select></div>
                    <div class="col-md-4 col-sm-4"><select class="form-control" data-district="{{ district }}" name="district"></select></div>
                </div>
            </div>
            <div class="form-group good_form">
                <label for="gtype">商品类型</label>
                <select name="gtype" id="gtype" class="form-control">
                    <option value="{{ data.type.id }}">{{ data.type.name }}</option>
                    {% for type in gtype %}
                        <option value="{{ type.id }}">{{ type.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group good_form">
                <label for="editor1">商品详情</label>
                <textarea name='gcontent' id="editor1" class="form-control">{{ data.detail }}</textarea>
            </div>
            <div class="form-group good_form">
                <label for="price">商品价格</label>
                <input type="text" class="form-control" name="price" id="price" placeholder="商品价格" value="{{ data.price }}">
            </div>
            <div class="form-group good_form">
                <label for="condition">商品成色</label>
                <select name="condition" id="condition" class="form-control">
                    <option value="{{ data.fineness }}">{{ condition }}</option>
                    {% for fi in fin %}
                        <option value="{{ fi.id }}">{{ fi.value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group good_form">
                <input type="submit" class="btn btn-primary form-control" value="发布" id="tj">
            </div>
        </form>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <p style="text-align: center;color: red">{{ msg }}</p>
    </div>
    <script>
        $(function () {
            $('#target').distpicker();
            CKEDITOR.replace('editor1', {uiColor: '#9AB8F3'});
            var precapital;
            $('#price').on('focus', function () {
                if (this.value === '0.00') {
                    this.value = '';
                } else {
                    this.value = this.value.replace(/\.00/, '').replace(/(\.\d)0/, '$1');
                }
                precapital = this.value;
            });
            $('#price').on('keyup', function () {

                this.value = this.value.replace(/^[\.]/, '').replace(/[^\d.]/g, '');
                if (this.value.split(".").length - 1 > 1) {
                    this.value = precapital;
                }
                precapital = this.value;
            });
            $('#price').on('blur', function () {
                this.value = this.value.replace(/[\.]$/, '');
                this.value = this.value.replace(/(.*)\.([\d]{2})(\d*)/g, '$1.$2');
                this.value = Number(this.value).toFixed(2);
                var logNum = this.value.toString();
                if (logNum.match(/\./g) != null) {
                    integerNum = parseInt(logNum).toString().replace(/\d(?=(\d{3})+$)/g, '$&,');
                    decimalNum = '.' + logNum.replace(/(.*)\.(.*)/g, '$2');
                } else {

                }
            });
        });
    </script>
{% endblock body %}
