{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}商品详情{% endblock title %}
{% block topfiles %}
    <style>
        .head-details {
            margin-bottom: 10px;
        }

        .head-details-image {
            width: 60px;
            height: 60px;
        }

        .price-span {
            color: red;
            font-weight: bold;
            font-size: 25px;
            font-style: italic;
            margin-right: 10px;
        }

        .good-detail {
            margin-top: 30px;
        }

        .detail_title {
            width: 100%;
            height: auto;
            word-wrap: break-word;
            word-break: break-all;
            overflow: hidden;
        }

        .others {
            list-style: none;
        }

        .others li {
            display: inline-block;
            padding-right: 20px;
            height: 66px;
            line-height: 66px;
        }

        .others li:last-child {
            float: right;
        }

        .good-info {
            word-wrap: break-word;
        }

        .comment-info {
            list-style: none;
        }

        .comment-info ul {
            list-style: none;
        }

        .comment-info li {
            margin-top: 15px;
            padding: 10px 10px 10px 10px;
            background-color: rgba(214, 214, 214, 0.4);
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            width: 96%;
            border-radius: 10px;
        }
    </style>
{% endblock topfiles %}
{% block body %}
    <!--商品详情-->
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 good-detail">
        <div class="page-header head-details page-header">
            <ul class="others">
                <li>
                    <img data-src="holder.js/" class="img-circle head-details-image"
                         src="{{ settings }}{{ user_info.head_portrait }}"
                         alt="...">
                </li>
                <li>
                    <span>{{ user_info.username }}</span>
                </li>
                <li>
                    <span>宝贝收藏次数：{{ good_detail.collected }}</span>
                </li>
                <li>
                    <span>最近编辑：{{ good_detail.update_time }}</span>
                </li>
                <li>
                    <span>商品成色：{{ good_detail.get_fineness_display }}</span>
                </li>
                <li>
                    <span>来自：{{ good_detail.addr }}</span>
                </li>
                <li>
                    <span class="price-span">￥{{ good_detail.price }}</span>
                    <form action="{% url 'order:place' %}" method="post">
                        {% csrf_token %}
                        {% if not good_detail.status %}
                            <input type="hidden" name="id" value="{{ good_detail.id }}">
                            <input type="submit" class="btn btn-primary form-control" value="购买">
                        {% else %}
                            <a href="#" class="btn btn-default" disabled="disabled">已售出</a>
                        {% endif %}
                    </form>
                </li>
            </ul>
        </div>
        <div class="detail_title">
            <h1>{{ good_detail.title }}</h1>
        </div>
        <div class="detail_title">
            <blockquote>
                商品描述
            </blockquote>
            <p class="good-info">{% autoescape off %}{{ good_detail.detail }}{% endautoescape %}</p>
        </div>
        <div>
            <blockquote>
                商品图片
            </blockquote>
        </div>
        <div class="container">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    {% for image in good_images %}
                        <div class="item slideshowimage">
                            <img data-src="holder.js/1140x500" alt="First slide"
                                 src="{{ settings }}{{ image.image }}"
                                 data-holder-rendered="true" style="width: 1140px;height: 500px;">
                        </div>
                    {% endfor %}
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-3 col-sm-3 col-sm-offset-3 col-xs-3 col-xs-offset-3">
                <img id="love" src="{% static 'img/love.png' %}" alt="收藏" title="收藏" style="width:30px;height: 30px"
                     onclick='love_click(this,
                             "{% static 'img/love.png' %}","{% static 'img/love_red.png' %}","{% url 'goods:collect' %}","{{ good_detail.id }}")'>
            </div>
            <div class="col-md-3 col-md-offset-3 col-sm-3 col-sm-offset-3 col-xs-3 col-xs-offset-3">
                <a href="#comment"><img src="{% static 'img/comment.png' %}" alt="留言" title="留言"
                                        style="width:30px;height: 30px"></a>
            </div>
        </div>
        <div id="comment">
            <blockquote>
                全部留言
            </blockquote>
            <div class="input-group " id="message" style="">
                {% csrf_token %}
                <input type="text" class="form-control mess" placeholder="留言">
                <span class="input-group-btn"><button class="btn btn-default" type="button"
                                                      onclick='mes_click(this,"{% url 'goods:message' %}","{{ good_detail.id }}")'>留言</button></span>
            </div>
            <ol class="comment-info">
                {% for mes in message %}
                    <li>
                        <div>
                            <div>
                                <div>
                                    <img alt="" src="{{ settings }}{{ mes.mess.user.head_portrait }}" height="32"
                                         width="32"
                                         data-bd-imgshare-binded="1">
                                    <cite class="fn">{{ mes.mess.user.username }}</cite><span class="reply"><a
                                        rel="nofollow"
                                        class="comment-reply-link" onclick="replay_click(this)">回复</a></span>
                                </div>
                                <div class="comment-meta2 commentmetadata">{{ mes.mess.create_time }}</div>
                            </div>
                            <p class="detail_title">{{ mes.mess.leave_message }}</p>
                            <div class="input-group message2" style="display: none">
                                <input type="text" class="form-control" placeholder="留言">
                                <span class="input-group-btn"><button class="btn btn-default" type="button"
                                                                      onclick='mes_click(this,"{% url 'goods:message' %}"
                                                                              ,"{{ mes.mess.id }}")'>回复</button></span>
                            </div>
                        </div>
                        <ul>
                            {% for me in mes.reply %}
                                <li>
                                    <div>
                                        <div>
                                            <div>
                                                <img alt=""
                                                     src="{{ settings }}{{ me.user.head_portrait }}"
                                                     height="32" width="32"
                                                     data-bd-imgshare-binded="1">
                                                <cite class="fn">{{ me.user.username }}</cite>
                                            </div>
                                            <div>{{ me.create_time }}</div>
                                        </div>
                                        <p class="detail_title">{{ me.leave_message }}</p>
                                    </div>
                                </li><!-- #comment-## -->
                            {% endfor %}
                        </ul><!-- .children -->
                    </li>
                {% endfor %}

            </ol>
        </div>
    </div>
    <script src="{% static 'js/ajax.js' %}"></script>
    <script>
        $(function () {
            classval = document.getElementsByClassName('slideshowimage')[0].getAttribute("class");
            classval = classval.concat(' active');
            document.getElementsByClassName('slideshowimage')[0].setAttribute("class", classval);
        });
        $(function () {
            if ('1' === "{{ love_status }}") {
                $('#love').attr('src', "{% static 'img/love_red.png' %}")
            }
        })

    </script>
{% endblock body %}