{% extends 'base_usercenter.html' %}
{% load staticfiles %}

{% block detail %}
    <table class="table table-striped">
        <thead class="table-head">
        <tr>
            <th>商品标题</th>
            <th>商品状态</th>
            <th>收藏时间</th>
            <th>收藏操作</th>
        </tr>
        </thead>
        <tbody class="table-body">
        {% for collect in data_page %}
            <tr>
                <td><a id="title_text"
                       href="{% url 'goods:detail' %}?id={{ collect.goods.id }}">{{ collect.goods.title }}</a></td>
                <td>{{ collect.goods.status }}</td>
                <td>{{ collect.update_time }}</td>
                <td>
                    <button class="btn btn-warning"
                            onclick='collect_click(this,"{% url 'goods:collect' %}",{{ collect.goods.id }})'>取消收藏
                    </button>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <!--分页-->
    {% if length %}
        <div class="col-md-12 col-sm-12" style="text-align: center">
            <nav aria-label="...">
                <ul class="pagination">
                    {% if data_page.has_previous %}
                        <li>
                            <a href="{% url 'user:mycollect' %}?page={{ data_page.previous_page_number }}">
                                上一页
                            </a></li>
                    {% endif %}
                    {% for pindex in pages %}
                        {% if pindex == data_page.number %}
                            <li class="active"><a
                                    href="{% url 'user:mycollect' %}?page={{ pindex }}"
                            >{{ pindex }}</a></li>
                        {% else %}
                            <li>
                                <a href="{% url 'user:mycollect' %}?page={{ pindex }}">{{ pindex }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if data_page.has_next %}
                        <li>
                            <a href="{% url 'user:mycollect' %}?page={{ data_page.next_page_number }}">下一页</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
    <script src="{% static 'js/ajax.js' %}"></script>
{% endblock detail %}